name: Sync to Hugging Face hub
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Hugging Face Hub
        run: pip install huggingface_hub
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: huggingface-cli upload Harsh-13yo/vpm-backend . . --repo-type=space --token=$HF_TOKEN --yes
